* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

#root {
  padding: 5%;
}

/* styling the landing page nav bar.. */

nav {
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5rem;
  margin-bottom: 5%;
  margin-top: -5%;
}

.welcomePage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.rightNav {
  display: flex;
  flex-direction: row;
  width: 25%;
}
ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.hero {
  width: 100%;
  height: 75vh;
  display: flex;
}

.heroText {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 5rem;
}

.heroImage {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.getStartedButton {
  gap: -1.5rem;
  border: none;
  background-color: white;
  cursor: pointer;
}

.getStartedButton:hover {
  border: #cfd11a;
  background-color: #befe75;
  cursor: pointer;
  font-size: 1.5rem;
  transition: 0.3s;
}

.footerLandingPage {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
}

button {
  border: none;
  background-color: white;
}
